<!-- begin header menu definition -->
<ion-menu side="start" type="overlay" menuId="mainMenu" class="main-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Main Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="login()">Login</ion-item>
      <ion-item (click)="logout()">Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- end header menu definition -->
<!-- begin header -->
<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-title>
    Restaurants UI
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- end header -->

<ion-tabs main>

  <!-- filler header --> 
  <ion-header no-border><ion-toolbar></ion-toolbar></ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="send"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
